
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    background-color: #436436;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #D6F599;
    font-weight: bold;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background-color: #D2FF28;
    padding: 5px 14px;
    color:#436436;
    border-radius: 4px;
}